/* src/App.css */

/* Set a background color for the entire app */
.App {
  background-color: #f0f0f0; /* Light gray background */
  font-family: Arial, sans-serif; /* Use a clean font */
  min-height: 100vh; /* Ensure the background covers the full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0;
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at its normal position */
  }
}

/* Style for the title */
h1 {
  color: #1713ec;
  font-size: 3rem;
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeInUp 1.5s ease-out; /* Apply the animation to the title */
}
